/* General---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{

/* background color---------- */

--primary-color: #ed7966;
--secondary-color: #303179;

--bg: #fae5df;

--helper: #f5cac2;

--bg2: #141850;


/* text style---------------------- */

--primary-font: 'Poppins', sans-serif;
--secondary-font: 'Roboto', sans-serif;
--primary-text: #141850;

--seconday-text: #ed7966;
--text-white: white;
--text-black: black;
--text-grey: grey;
}


body{

    font-family: var(--primary-font);
    background-color: white;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: .375rem;
}

::-webkit-scrollbar-track{
    background: var(--secondary-color);

}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

.section{
    padding: 3.125rem 0;

}

.main-btn{

    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: 0.3s all ease-out 0s;
}

.main-btn:hover{
background-color: var(--secondary-color);
color: var(--text-white);
border-color: var(--secondary-color);

}

h1{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

h3{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.875rem;
    color: var(--primary-text);
    margin-bottom: 1.875rem;
    font-family: var(--secondary-font);
    
}

h3 span{
    color: var(--primary-color);

}


h5{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);

}

h6{

    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);

}


p{
font-size: 1rem;
color: var(--text-black);
line-height: 1.625rem;

}

li{

    list-style: none;
}

.section-title::after{

    content: "" !important;
    background-image: url("/images/title-icon.webp");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 0.9375rem;
    height: .9375rem;

}

/* General finished---------------------------------------- */



/* navbar------------------------------------------------------------ */

.head-wrapper .navbar{
    padding: 0.9375rem 0;
    background-color: white;
    box-shadow: 0.5rem .375rem .375rem rgba(211, 211, 211, 0.4);
transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out os, opacity 0s ease-in-out 0s;
-webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out os, opacity 0s ease-in-out 0s;
}


.head-wrapper .navbar-toggler{
    border: 0;
    color: var(--primary-text);
    line-height: 2;
    font-size: 2rem;
}

.head-wrapper .navbar-toggler:focus{
    box-shadow: none;
}


.head-wrapper .nav-link{

    margin: 0 0.675rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text);
}

.head-wrapper .nav-link:hover, .head-wrapper .nav-link:active{

    color: var(--seconday-text);
}


.head-wrapper .nav-item{

    margin: 0 1rem;
}


.header-scrolled{

    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    --webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown{
 
    0%{
top: -30%;

    }

50%{
    top: -15%;
        
        }

100%{
        top: 0%;
                
        }

}


/* banner--------------------------------------------- */


.banner-wrapper{

    height: 40.625rem;
}

.banner-wrapper .swiper{
    height: 100%;
    width: 100%;
}

.banner-wrapper .swiper-slide{

    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;


}

.banner-wrapper .swiper-slide::before{
position: absolute;
top: 0;
left: 0;
content: "";
background-color: black;
opacity: 0.5;
height: 100%;
width: 100%;
z-index: 0;
}

.banner-wrapper .swiper-slide .swipper-texts{

    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 999;
    position: relative;

}

.banner-wrapper .swiper-slide .swipper-texts p{

    color: white;
    max-width: 42rem;
    margin: 0 auto;
}



.banner-wrapper .swiper-pagination-bullet{
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: var(--secondary-color);
    border: 0.0625rem solid var(--text-white);
}


/* date box--------------------------------------- */


.booking-area{
    position: relative;
    z-index: 9;
    margin: -6rem auto;
    padding: 4.5rem 1.5rem;
    background-color: white;
    box-shadow: 0rem .675rem .975rem 0 rgb( 0 0 0 / 10%);
    width: 80%;
    
}

.booking-area .form-control, .booking-area .form-select{

height: 100%;
text-transform: uppercase;
border: 0.05rem solid var(--secondary-color);
font-size: 0.875rem;
color: var(--text-black);
font-weight: 500;
}



/* about section------------------------------------ */


.about-wrapper{

    padding-top: 11.275rem;
    padding-bottom: 3.5rem;
}



/* <!-- Room section starts----------------------------------- --> */



.rooms-wrapper{

    margin-bottom: 2rem;
}


.rooms-wrapper .room-items{

    position: relative;
    overflow: hidden;

}

.rooms-wrapper .room-items img{
width: 100%;
--webkit-transition: all 0.4s ease-in 0s;
transition: all 0.4s ease-in 0s;
position: relative;

}

.rooms-wrapper .room-items:hover img{

transform: scale3d(1.05, 1.05, 1.05);
--webkit-transform: scale3d(1.05, 1.05, 1.05);

}

.rooms-wrapper .room-items .room-item-wrap{

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    
}


.rooms-wrapper .room-items:hover .room-item-wrap{

    opacity: 0.6;
    
}


.rooms-wrapper .room-items .room-content{

position: absolute;
z-index: 1;
top: 25%;
left: 15%;
right: 15%;
border: 0.0625rem solid white;
padding: 5.5rem 4rem;
opacity: 0;
z-index: 1;
transform: scale3d(1.2, 1.2, 1.2);
-webkit-transform: scale3d(1.2, 1.2, 1.2);

transition: all 0.5s ease-in 0s;

-webkit-transition: all 0.5s ease-in 0s;

}

.rooms-wrapper .room-items:hover .room-content{

   
-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

    
    opacity: 1.2;
    
}


/* services------------------------------------------ */


.service-item-wrap{

    background-color: var(--bg);
}


.service-item-wrap .service-content ul li a{

display: block;
margin: 1.8rem 0;


}

.service-item-wrap .service-content .service-icon{

    height: 5.265rem;
    width: 5.625rem;
    background-color: var(--bg2);
    border-radius: 100%;
    line-height:5.625rem;
    text-align: center;
    float: left;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    position: absolute;
    
    }

    .service-item-wrap .service-content .service-icon:hover,
    .service-item-wrap .service-content ul li a.active .service-icon
    
    {
background-color: var(--primary-color);
color: white;
box-shadow: 0.125rem rgb( 34 30 31 / 40%);
    }

    .service-item-wrap .service-content ul li:nth-child(1){
        margin-left: 0.525rem;
    }  

    .service-item-wrap .service-content ul li:nth-child(2){
        margin-left: -2rem;
    }  

    .service-item-wrap .service-content ul li:nth-child(3){
        margin-left: -4rem;
    }

    .service-item-wrap .service-content ul li:nth-child(4){
        margin-left: -6rem;
    }

    
    .service-item-wrap .service-content ul li a p,
    .service-item-wrap .service-content ul li a h5{


        padding-left: 6.75rem;
        display: block;
        text-align: left;
    }

    .service-item-wrap .service-content ul li a span{
        color: #ed7966;
    }




/* -------------------counter---------------- */



    .counter-wrapper{
        background-image: url(/images/counter-bg.webp);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
padding: 2.125rem;
text-align: center;
position: relative;
    }

  

    .counter-wrapper .container p, .counter-wrapper .container h2{
        color: white;
        font-weight: 400;
        position: relative;
        z-index: 3;
    } 


.counter-wrapper .container p{
    font-size: 1.6rem;
}

.counter-wrapper .container::before{

    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;

}



/* team-------------------------------------------------- */



.team-wrapper .team-info{

    text-align: center;
   width: 100%;
   height: 25%;
   bottom: 0%;
   padding: 2rem;
   margin: 0 auto;
    background-color: var(--primary-color);
    position: absolute;

}


.team-wrapper .card{
    position: relative;
    overflow: hidden;
}


.team-wrapper .team-info .social-network{

    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    font-size: 2rem;
    top: 0%;
    left: 0%;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    z-index: 9999;
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);

}

.team-wrapper .team-info:hover .social-network{

    transform: translateY(0%);
   -webkit-transform: translateY(0%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}


.team-wrapper .team-info .social-network a{
    color: white;
}

.team-wrapper .team-info .social-network a:hover{
    color: var(--primary-color)
}



/* gallery------------------------------------------------- */


.gallery-wrapper {

margin: 3rem;
}

.gallery-wrapper .gallery-items{

    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.3);
}

.gallery-wrapper .gallery-items::before,
.gallery-wrapper .gallery-items::after,
.gallery-wrapper .gallery-items .gallery-content::before,
.gallery-wrapper .gallery-items .gallery-content::after{

content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
height: 50%;
width: 50%;
opacity: 0;
background-color: rgba(0, 0, 0, 0.8);
transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
z-index: 4;

}

.gallery-wrapper .gallery-items::before{

    top: 50%;

}

.gallery-wrapper .gallery-items:hover::before{
    top: 0%;
    opacity: 1;
}


.gallery-wrapper .gallery-items:hover::after{
    left: 50%;
    opacity: 1;
}

.gallery-wrapper .gallery-items:hover .gallery-content::before{

    top:50%;
    left: 50%;
    opacity: 1;
}

.gallery-wrapper .gallery-items:hover .gallery-content::after{

top:50%;
opacity: 1;
}


/* price------------------------------------------------------------- */

.pricing-wrapper .card:hover{

    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;

}

.pricing-wrapper .card:hover h5,
.pricing-wrapper .card:hover p,
.pricing-wrapper .card:hover h3{

    color: white;
}

.pricing-wrapper .main-btn:hover{
    color: var(--primary-text);
    background-color: white;
transition: all 0.3s ease-in-out;
}
